<div class="row">
  <div class="col-xs-10 col-sm-12 col-md-10 col-sm-offset-1 col-md-offset-1">
    <h3>All auctions are listed below:</h3>
    <hr />
    <div class="alert alert-success" *ngIf="sucessMessage">
      <strong>Success!</strong> {{ sucessMessage }}
    </div>
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <ul class="list-group" *ngIf="!isLoading">
      <div *ngFor="let auction of auctions">
        <li class="list-group-item">
          <a [routerLink]="['edit', auction.id]" style="text-decoration: none;"
            ><b>Auction Name:</b>{{ auction.title }} | <b>Initial value:</b
            >{{ auction.initialValue }} | <b>Condition: </b>
            {{ conditions[auction.auctionList[0].condition] }} |
            <b>Auction owner: </b> {{ auction.auctionList[0].user.name }} |
            <b>Opening: {{ dataFormat(auction.start) }} </b> |
            <b>Closing: {{ dataFormat(auction.end) }}</b>
          </a>
          <span
            style="cursor: pointer;"
            class="pull-right glyphicon glyphicon-remove"
            title="Delete auction"
            (click)="deleteAuction(auction.id)"
          ></span>
        </li>
      </div>
    </ul>
  </div>
</div>
